<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">

<head>
	<link rel="stylesheet" type="text/css"
href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<script type="text/javascript"
src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<title>Create produit</title>
</head>

<body>
	<div layout:fragment="Mycontent">
		<div class="container my-4">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<span class="anchor" id="formLogin"></span>
					<!-- form card login -->
					<div class="card card-outline-secondary">
						<div class="card-header">
							<h3 class="mb-0">Créer produit</h3>
						</div>
						<div class="card-body">
							<form class="form" id="formLogin" name="formLogin" role="form" action="saveProduit"
								method="post">
								<div class="form-group">
									<label for="nomProduit">Nom</label> <input class="form-control" id="nomProduit"
										name="nomProduit" required="" type="text">
								</div>
								<div class="form-group">
									<label>Prix</label> <input class="form-control" id="prixProduit" name="prixProduit"
										required="" type="number">
								</div>
								<div class="form-group">
									<label>date création</label> <input class="form-control" id="date" name="date"
										required="" type="date">
								</div>
								<input class="btn btn-success my-3 btn-lg float-right" type="submit" value="ajouter">
							</form>
						</div>
						<!--/card-block-->
					</div>
					<!-- /form card login -->
				</div>
			</div>
		</div>
	</div>
</body>

</html>