<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="template">
>

<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

    <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/3.5.1/jquery.min.js"></script>


    <meta charset="utf-8" />
    <title>Gestion des Produits</title>
</head>

<body class="bg-light">
    <!-- successfull logout page-->
    <div layout:fragment="Mycontent">
        <div class="container my-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        <strong>Success!</strong> You are logged out.
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>