<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

	<script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="webjars/jquery/3.5.1/jquery.min.js"></script>


	<meta charset="utf-8" />
	<title>Gestion des Produits</title>
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" th:href="@{ListeProduits}">Gestion de produits</a>
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Produits
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" sec:authorize="hasRole('ADMIN') || hasRole('AGENT')" th:href="@{showCreate}">Ajouter</a> <a class="dropdown-item"
						th:href="@{ListeProduits}">Lister</a>
				</div>
			</li>
			<li class="ml-2 nav-item dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Categories
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" sec:authorize="hasRole('ADMIN') " th:href="@{showCreateC}">Ajouter</a> <a class="dropdown-item"
						th:href="@{ListeCategories}">Lister</a>
				</div>
			</li>
		</ul>

		<ul class="navbar-nav ml-auto mr-5">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					<span sec:authentication="name"></span>
				</a>
				<div class="dropdown-menu">
					<a sec:authorize="!isAuthenticated()" class="dropdown-item" th:href="@{login}">login</a>
					<a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{logout}">logout</a>
					<a class="dropdown-item" href="@{login}">Profile</a>
				</div>
			</li>
		</ul>
	</nav>
	<section layout:fragment="Mycontent"></section>
</body>

</html>